* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  display: block;
  color:darkslategray;
}

.header-content {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.lang {
  font-weight: bold;
  cursor: pointer;
}

.typeStats {
  padding: 0 10px;
  font-size: 18px;
}

.inputBlock {
  max-width: 600px;
  margin: 150px auto 150px;
}

.typingLine {
  font-size: 18px;
  color: rgb(31, 52, 52);
  width: 600px;
  background-color: rgba(255, 255, 255, 0);
  border-top:rgba(255, 255, 255, 0);
  border-left:rgba(255, 255, 255, 0);
  border-right:rgba(255, 255, 255, 0);
  margin-bottom: 10px;
}

.typingLine:focus {
  outline: none;
}

.printedText {
  font-size: 19px;
  color: rgba(48, 80, 80, 0.4);
}

.textForPrint {
  font-size: 19px;
  color: rgb(48, 80, 80);
}