* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(45deg, #ffbae8, #b5d1de);
  display: block;
  color:darkslategray;
}

/* Header */
header {
  background-color: rgba(225, 190, 208, 0.5);
  box-shadow: 0 2px 0 #999797;
}

.header-content {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.lang {
  font-weight: bold;
  cursor: pointer;
}

.typeStats {
  padding: 0 10px;
  font-size: 18px;
}

/* Dropdown menu (in input block)*/
.dropdown {
  position: relative;
  margin: 0 auto 110px;
  max-width: 150px;
  text-align: center;
}

.dropbtn {
  color:darkslategray;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(168, 168, 168, 0.5);
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content p {
  cursor: pointer;
  color:darkslategray;
  padding: 8px 10px;
  display: block;
}

.dropdownbtn:hover, .dropdown-content p:hover {background-color: rgba(169, 169, 169, 0.5);}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Input block */
.inputBlock {
  max-width: 600px;
  margin: 20px auto 100px;
}

.typingLine {
  font-size: 18px;
  color: rgb(31, 52, 52);
  width: 600px;
  background-color: rgba(255, 255, 255, 0);
  border-top:rgba(255, 255, 255, 0);
  border-left:rgba(255, 255, 255, 0);
  border-right:rgba(255, 255, 255, 0);
  margin-bottom: 10px;
  transition: all .3s;
}

.typingLine:focus {
  outline: none;
}

.printedText {
  font-size: 19px;
  color: rgba(48, 80, 80, 0.4);
  white-space: nowrap;
}

.textForPrint {
  font-size: 19px;
  color: rgb(48, 80, 80);
  white-space: nowrap;
}


/*Keyboard styles*/

.keyboard {
  max-width: 780px;
  margin: 0 auto 100px;
  font-size: 18px;
}

.keyboardLine {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.but {
  width: 38px;
  height: 40px;
  border-width: 2px;
  border-color:rgb(48, 80, 80);
  border-style: solid;
  border-radius: 5px;
  padding: 2px 3px;
  position: relative;
}

.backspace, .enter, .capsLock, .tab, .shift, .space {
  width: 88px;
  height: 32px;
  border-width: 2px;
  border-color:rgb(48, 80, 80);
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  padding-top: 12px;
}

.bSymb2 {
  float: right;
}

.tab {
  width: 66px;
}

.shift {
  width: 107px;
}

.space {
  margin: 0 auto;
  width: 360px;
}

.helpEffect {
  background-color: rgb(156, 152, 152);
}

/* Hands */

.hand1 {
  display:block;
}
.hand1::after {
  content: "";
  background-image: url('../img/hand1.png');
  width: 85px;
  height: 100px;
  left: 10px;
  top: 5px;
  position: absolute;
  opacity: 75%;
  z-index: 5;
  display:block;
}

.hand10 {
  display:block;
}
.hand10::after {
  content: "";
  background-image: url('../img/hand1.png');
  width: 85px;
  height: 100px;
  right: 10px;
  top: 5px;
  position: absolute;
  opacity: 75%;
  z-index: 5;
  display:block;
}