* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #808A9F;
  display: block;
  color: #eee;
}

input{
  color: #ddd;
}

/* Header */
header {
  background-color: #5b4a73;
}

.header-content {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 10px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.lang {
  font-size: 26px;
  font-weight: bold;
}

.typeStats {
  padding: 0 10px;
  font-size: 20px;
}

/* Dropdown menu (in input block)*/
.dropdownContainer {
  position:absolute;
  z-index: 1;
  top: 30px;
  right: 0;
  left: 0;
  border-radius: 8px;
}

.dropdown {
  position: relative;
  margin: 0 auto 110px;
  max-width: 180px;
  text-align: center;
  background-color: #5b4a73;
}

.dropbtn {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  display: block;
  text-decoration: underline;
  border-radius: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  border-radius: 8px;
  font-size: 20px;
  background-color: #5b4a73;
}

.dropdown-content p {
  cursor: pointer;
  padding: 8px 10px;
  display: block;
  border-radius: 8px;
}

.dropbtn:hover, .dropdown-content p:hover {background-color: rgba(169, 169, 169, 0.5);}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Input block */
.inputBlock {
  max-width: 600px;
  margin: 140px auto 140px;
}

.typingLine {
  font-size: 18px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0);
  border-top:rgba(255, 255, 255, 0);
  border-left:rgba(255, 255, 255, 0);
  border-right:rgba(255, 255, 255, 0);
  margin-bottom: 10px;
  transition: all .3s;
}

.typingLine:focus {
  outline: none;
}

.printedText {
  font-size: 19px;
  white-space: nowrap;
  color: #aeb3b4;
}

.textForPrint {
  font-size: 19px;
  white-space: nowrap;
}


/*Keyboard styles*/

.keyboard {
  max-width: 780px;
  margin: 50px auto 110px;
  font-size: 18px;
}

.keyboardLine {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.but {
  width: 38px;
  height: 40px;
  border-width: 2px;
  border-color:rgb(48, 80, 80);
  border-style: solid;
  border-radius: 5px;
  padding: 2px 3px;
  position: relative;
}

.backspace, .enter, .capsLock, .tab, .shift, .space {
  width: 88px;
  height: 32px;
  border-width: 2px;
  border-color:rgb(48, 80, 80);
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  padding-top: 12px;
  position: relative;
}

.bSymb2 {
  float: right;
}

.tab {
  width: 66px;
}

.shift {
  width: 107px;
}

.space {
  margin: 0 auto;
  width: 360px;
}

.helpEffect {
  background-color: rgb(156, 152, 152);
}

/* Hands */

.hand1 {
  display:block;
}
.hand1::after {
  content: "";
  background-image: url('./img/hand1.png');
  width: 85px;
  height: 100px;
  right: -50px;
  top: 10px;
  position: absolute;
  opacity: 75%;
  z-index: 5;
  display:block;
}
.hand2 {
  display:block;
}
.hand2::after {
  content: "";
  background-image: url('./img/hand2.png');
  width: 85px;
  height: 100px;
  left: 2px;
  top: 16px;
  position: absolute;
  opacity: 75%;
  z-index: 5;
  display:block;
}
.hand3 {
  display:block;
}
.hand3::after {
  content: "";
  background-image: url('./img/hand3.png');
  width: 85px;
  height: 100px;
  left: -15px;
  top: 18px;
  position: absolute;
  opacity: 75%;
  z-index: 5;
  display:block;
}
.hand4 {
  display:block;
}
.hand4::after {
  content: "";
  background-image: url('./img/hand4.png');
  width: 85px;
  height: 100px;
  left: -32px;
  top: 16px;
  position: absolute;
  opacity: 75%;
  z-index: 5;
  display:block;
}
.hand5 {
  display:block;
}
.hand5::after {
  content: "";
  background-image: url('./img/hand5.png');
  width: 85px;
  height: 100px;
  left: -20px;
  bottom: -20px;
  position: absolute;
  opacity: 75%;
  z-index: 5;
  display:block;
}
.hand6 {
  display:block;
}
.hand6::after {
  content: "";
  background-image: url('./img/hand6.png');
  width: 85px;
  height: 100px;
  bottom: -20px;
  right: -20px;
  position: absolute;
  opacity: 75%;
  z-index: 5;
  display:block;
}
.hand7 {
  display:block;
}
.hand7::after {
  content: "";
  background-image: url('./img/hand7.png');
  width: 85px;
  height: 100px;
  top: 16px;
  left: -10px;
  position: absolute;
  opacity: 75%;
  z-index: 5;
  display:block;
}
.hand8 {
  display:block;
}
.hand8::after {
  content: "";
  background-image: url('./img/hand8.png');
  width: 85px;
  height: 100px;
  top: 18px;
  left: -25px;
  position: absolute;
  opacity: 75%;
  z-index: 5;
  display:block;
}
.hand9 {
  display:block;
}
.hand9::after {
  content: "";
  background-image: url('./img/hand9.png');
  width: 85px;
  height: 100px;
  top: 16px;
  left: -40px;
  position: absolute;
  opacity: 75%;
  z-index: 5;
  display:block;
}
.hand10 {
  display:block;
}
.hand10::after {
  content: "";
  background-image: url('./img/hand10.png');
  width: 85px;
  height: 100px;
  top: 10px;
  left: -50px;
  position: absolute;
  opacity: 75%;
  z-index: 5;
  display:block;
}

/* Footer */
footer {
  background-color: #2C497F;
  display: flex;
  white-space: nowrap;
}
footer > div {
  flex: 1;
  padding: 40px 80px;
}
.footer-info {
  border-color: #777373;
}
.footer-links {
  border-color: #777373;
}
footer > div > h2 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
}
footer > div > p {
  font-size: 20px;
  margin-bottom: 8px;
}
footer > div > p > a {
  color: #eee;
}